*{
    margin: 0;
    padding: 0;
}

.wrapper{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -100;
}

.wrapper::before{
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.title, .subtitle{
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
}

.subtitle{
    top: 80%;
    line-height: 2;
    font-size: 20px;
}