*{
    margin: 0;
    padding: 0;
}

.container{
    background-image: url("../img/bg1.png");
    background-size: cover;
    background-attachment: fixed;
    color: white;
    height: 100vmin;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.header, .slider{
    width: 940px;
    margin: 0 auto;
}

.menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 526px;
    text-align: center;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 900;
}

/* .menu-item{
} */

.header-link{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.header-link:hover{
    color: rgba(0, 224, 208);
}

.slider{
    text-align: center;
    padding-bottom: 70px;
}

.slider-text{
    margin: 52px auto 0;
    width: 770px;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.7px;
}

.main{
    color: rgba(65, 61, 75);
}

.main-title{
    margin-top: 183px;
    font-family: "Playfair Display";
    font-size: 32px;
    font-weight: 900;
}

.main-title:after{
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background-color: rgba(0, 224, 208);
    margin: 21px auto 0;
}

.more{
    margin: 50px auto 0;
    padding: 15px;
    border: 1px solid rgba(0, 224, 208);
    color: rgba(0, 224, 208);
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-family: "Hammersmith One";
}

.more:hover{
    background-color: rgba(0, 224, 208);
    color: white;
}

.slider-selector{
    display: flex;
    justify-content: space-between;
    width: 55px;
    margin: 127px auto 0;
}

.slider-button{
    height: 9px;
    width: 9px;
    border: 1px solid white;
    border-radius: 50%;
}

.slider-button:hover{
    background-color: rgba(0, 224, 208);
}

.our-story{
    padding: 70px 0;
    width: 873px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.story-logo{
    width: 229px;
    height: 235px;
}

.title{
    text-transform: uppercase;
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: 700;
}

.story-content{
    width: 538px;
}

.story-text{
    margin-top: 28px;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.3px;
}

.player{
    background-image: url("../img/bg2.png");
    background-size: cover;
    background-attachment: fixed;
    padding: 202px 0;
    color: white;
    text-align: center;
}

.player-button{
    background-image: url("../img/player-button.png");
    width: 100px;
    height: 100px;
    border: none;
    background-color: transparent;
}

.player-text{
    margin-top: 34px;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 900;
}

.expertise{
    padding: 70px 0;
    margin: 0 auto;
    text-align: center;
}

.expertise-block{
    width: 940px;
    margin: 0 auto;
}

.expertise-subtitle{
    margin-top: 16px;
    line-height: 1.5;
    letter-spacing: 0.3px;
}

.expertise-subtitle:after{
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background-color: rgba(65, 61, 75);
    margin: 21px auto 0;
}

.expertise-block{
    margin-top: 48px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.block-item{
    width: 311px;
    padding: 39px 0;
    border-right: 1px solid rgba(65, 61, 75, 0.15);
    border-bottom: 1px solid rgba(65, 61, 75, 0.15);
}

.block-item:nth-child(3n){
    border-right: none;
}

.block-item:nth-last-child(-n+3){
    border-bottom: none;
}

.block-item__img{
    height: 50px;
}

.block-item__title{
    margin-top: 35px;
    padding: 0 32px;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 900;
}

.block-item__text{
    padding: 0 32px;
    margin-top: 25px;
    line-height: 1.5;
    letter-spacing: 0.2px;
}

.team{
    padding: 70px 0;
    text-align: center;
    color: white;
    background-image: url("../img/bg3.png");
    background-attachment: fixed;
    background-size: cover;
}

.subtitle{
    margin-top: 16px;
    font-family: "Playfair Display";
    font-size: 14px;
    text-transform: initial;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.3px;
}

.subtitle::after{
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: #655c80;
    margin: 18px auto 0;
}

.team-list{
    width: 940px;
    display: flex;
    justify-content: space-between;
    margin: 47px auto 0;
    list-style: none;
}

.team-item{
    border: 1px solid #655c80;
    padding-bottom: 25px;
}

.team-item__img{
    height: 229px;
    width: 220px;
    display: block;
}

.team-item_name{
    margin-top: 23px;
    font-family: "Roboto";
    font-weight: 900;
    font-size: 14px;
}

.team-item__position{
    margin-top: 12px;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 13px;
}

.team-text{
    margin-top: 70px;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.team .more{
    margin-top: 26px;
}

.our-works{
    padding-top: 70px;
    text-align: center;
}

.our-works__title{
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
    font-family: "Roboto";
    font-size: 14px;
    color: rgba(65, 61, 75, 255);
    align-items: center;
}

.portfolio{
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}

.portfolio-link{
    text-decoration: none;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    color: rgba(65, 61, 75, 255);
    line-height: 1.5;
    letter-spacing: 0.3px;
}

.portfolio-link::after{
    content: ">";
    font-size: 26px;
    margin-left: 10px;
    vertical-align: sub;
    font-family: "Roboto Condensed";
}

.portfolio__item{
    width: 16.66%;
    height: 200px;
    background-color: #655c80;
    outline: 1px solid black;
}

.our-works .more{
    margin: 70px auto;
    text-align: center;
    padding: 15px 28px;
}

.testimonials{
    background-image: url("../img/bg4.png");
    background-size: cover;
    background-attachment: fixed;
    color: white;
    text-align: center;
    padding: 70px 0 70px;
}

.testimonials-text::before{
    content: "“";
    display: block;
    margin: 0 auto;
    font-family: "Playfair Display";
    font-size: 100px;
}

.testimonials-text{
    width: 770px;
    margin: 0 auto;
    font-family: "Playfair Display";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.3px;
}

.testimonials-name{
    margin-top: 52px;
    font-family: "Roboto";
    font-weight: 900;
    font-size: 14px;
}

.testimonials-position{
    margin-top: 13px;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 300;
}

.testimonials-block{
    width: 430px;
    margin: 45px auto 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonials-block::before{
    content: "<";
    margin-right: 16px;
    font-size: 50px;
    color: #655c80;
    font-family: "Roboto Condensed";
    font-weight: 300;
}

.testimonials-block::after{
    content: ">";
    margin-left: 16px;
    font-size: 50px;
    color: #655c80;
    font-family: "Roboto Condensed";
    font-weight: 300;
}

.testimonials-photo{
    width: 45px;
    height: 45px;
}

.middle-photo{
    width: 70px;
    height: 70px;
}

.news-client{
    width: 940px;
    margin: 0 auto;
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
}

.good-news{
    width: 460px;
}

.client{
    width: 385px;
}

.client .title{
    margin-left: 15px;
}

.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    width: 382px;
    margin-top: 47px;
    list-style: none;
    height: 409px;
}

.list-item{
    text-align: center;
    width: 191px;
}

.client-name, .client-email, .client-subjectmsg, .client-message{
    width: 100%;
    margin-top: 21px;
    padding: 15px 20px;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 14px;
}

.client-message{
    width: 460px;
    height: 170px;
}

.good-news .more{
    padding: 15px 32px;
    margin-top: 21px;
    background: none;
}

.good-news .more:hover{
    background-color: rgba(0, 224, 208);
}

.footer{
    background-image: url("../img/bg5.png");
    /* background-attachment: fixed; */
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 70px 0;
}

.footer-wrapper{
    display: flex;
    width: 940px;
    margin: 0 auto;
    justify-content: space-between;
}

.about{
    position: relative;
    top: -20px;
}

.about, .contacts, .social{
    width: 290px;
    line-height: 1.5;
    letter-spacing: 0.3px;
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 300;
}

.logo-footer{
    width: 128px;
    height: 50px;
}

.about-text{
    margin-top: 27px;
}

.contacts-list{
    margin-top: 42px;
}

.subscribe-form{
    margin-top: 39px;
    height: 45px;
}

.newsletter-form{
    width: 176px;
    height: 13px;
    vertical-align: top;
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 300;
    border: 1px solid #655c80;
    padding: 15px;
    background: transparent;
    color: white;
}

.newsletter-button{
    width: 70px;
    height: 45px;
    margin-left: 8px;
    background-color: #fcf8f84f;
    background-image: url("../img/paper122@1X.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    border: none;
}

.newsletter-button:hover{
    background-color: rgba(255, 255, 255, 0.61);
}

.contacts-list{
    list-style: none;
}

.contacts-address, .contacts-phone{
    display: flex;
}

.contacts-address::before{
    content: "";
    background-image: url("../img/map-icon.png");
    width: 32px;
    background-repeat: no-repeat;
    padding-right: 16px;
}

.contacts-phone{
    margin-top: 27px;
}

.contacts-phone::before{
    content: "";
    background-image: url("../img/phone-icon.png");
    width: 14px;
    background-repeat: no-repeat;
    padding-right: 16px;
}

.social-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 251px;
    margin-top: 27px;
    height: 45px;
}

.social-item{
}

.footer-button{
    width: 70px;
    height: 45px;
}

.bottom-footer{
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 70px auto 0;
    letter-spacing: 0.3px;
}

.footer-menu{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 301px;
    text-transform: uppercase;
    font-family: "Roboto";
    font-size: 14px;
    text-transform: uppercase;
}


.footer-menu__item-link{
    text-decoration: none;
    color: white;
}

.social-link__img{
    width: 35px;
    height: 35px;
}

.social-link__img:hover{
    width: 45px;
    height: 45px;
}